{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>全球生鲜卖家管理后台页面</title>
{#   导入后台静态资源#}
    <link rel="stylesheet" href="{% static 'admin/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/xadmin.js' %}"></script>
{#      导入ztree静态资源#}
    <link rel="stylesheet" href="{% static 'admin/css/demo.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/zTreeStyle/zTreeStyle.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'admin/js/jquery-1.4.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.ztree.core.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.ztree.excheck.js' %}"></script>
  </head>

  <body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form" method="post" action="{% url 'admin_doaddrole' %}">
            {% csrf_token %}
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>角色名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_email" name="name" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  角色权限
              </label>
              <div class="layui-input-inline">
                  <ul id="treeDemo" class="ztree"></ul>
              </div>

          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
            {#  隐藏域用于记录ztree选中的节点   #}
        <div id="hidden_power"></div>
      </form>
    </div>

     <SCRIPT type="text/javascript">
		<!--
		var setting = {
			data: {
				simpleData: {
					enable: true
				}
			},
{#            打开复选框#}
{#            autoCheckTrigger是在选择父级选项时，子级也同时选上#}
            check: {
				enable: true,
                autoCheckTrigger: true
			},

{#            回调函数  单击级菜单时#}
            callback: {
                onCheck: zTreeOnCheck
            }
		};
{#		设置不让他进行转义#}
        {% autoescape off %}
		var zNodes = {{ json_str }}
        {% endautoescape %}

        function zTreeOnCheck(event, treeId, treeNode) {
            if (treeNode.checked == true) {
                if($('#powers_'+ treeNode.id).length==0 ){
                    $('#hidden_power').append("<input type='hidden' id='powers_" + treeNode.id + "' name='powers_id' value=" + treeNode.id + ">")
                }
            } else {
                $('#powers_' + treeNode.id).remove()
            }
        };

        function zTreeOnClick(event,treeId,treeNode,clickFlag){
{#            clickflag代表的是状态 点击的时候 把他的vilue值置为当前节点id 取消的时候就把他置为0#}
             if(clickFlag==1){
                $('#parent_id').val(treeNode.id);
             }else if(clickFlag == 0){
                $('#parent_id').val(0);
             }
         }

		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		});
		//-->
	</SCRIPT>
  </body>

</html>