{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>全球生鲜卖家管理后台</title>
    <link rel="stylesheet" href="{% static 'admin/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{%  static 'admin/js/xadmin.js' %}"></script>
  </head>

  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">商品管理</a>
        <a href="{% url  'admin_goodslist' %}">商品列表</a>
      </span>
    </div>
    <div class="x-body">
         <div class="layui-row">
            <form class="layui-form layui-col-md12 x-so">
             <input class="layui-input" placeholder="商品名称" name="name" id="name">
            <input class="layui-input" placeholder="价格" name="price" id="price">

              <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </form>
         </div>
      <table class="layui-table">
        <thead>
          <tr>
		     <th>ID</th>
            <th>商品名称</th>
            <th>价格</th>
            <th>库存数量</th>
            <th>商品介绍</th>
            <th>商品图片</th>
            <th>操作</th>
			</tr>
        </thead>

        <tbody>
        {% for foo in list %}
              <tr>
                <td>{{ foo.id }}</td>
                <td>{{ foo.name }}</td>
                <td>{{ foo.price }}</td>
                <td>{{ foo.number }}</td>
                <td>{{ foo.goods_introduce.introduce|slice:'8' }}</td>
                <td>
                     {#                    <img width="20" height="20" src="{{ info.goods_img_set.first.img_path }}" />#}
                    {% for goods_img in foo.goods_img_set.filter %}
                        <img width="20" height="20" src="{{ goods_img.img_path }}"/>
                    {% endfor %}
                </td>
                <td >
{#                    <a href=""><i class="layui-icon">&#xe642;</i></a>#}
                    <a href="javascript:" onclick="x_admin_show('编辑','{% url "admin_goodsedit" %}?id={{ foo.id }}',600,400)" >
                        <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a href="javascript:" onclick="goods_del(this,{{ foo.id }})">
                        <i class="layui-icon">删除</i>
                    </a>

                </td>
              </tr>
         {% endfor %}
        </tbody>
      </table>
{#    分页显示  和搜索   搜索显示分页#}
      <div class="page">
        <div>
{#        上一页#}
        {% if list.has_previous %}
            <a class="prev" href="{% url 'admin_goodslist' %}?p={{ list.previous_page_number }}&{{ page_url }}">&lt;&lt;</a>
        {% endif %}
            {% for page_num in list.paginator.page_range %}
                {% if list.number == page_num %}
                    <span class="current">{{ page_num }}</span>
                    {% else %}
                    <a class="num" href="{% url 'admin_goodslist' %}?p={{ page_num }}&{{ page_url }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
{#        下一页#}
        {% if list.has_next %}
            <a class="next" href="{% url 'admin_goodslist' %}?p={{ list.next_page_number }}&{{ page_url }}">&gt;&gt;</a>
        {% endif %}



        </div>
      </div>

    </div>

  </body>
<script>
    /*商品-删除*/
    function goods_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $.ajax({
                url: '{% url 'admin_goodsdel' %}', // 访问地址
                type: 'get', // get
                data: {id: id}, // json
                dataType: 'json',  // text json html 返回的数据类型
                success: function (data) {
                    if (data.status == 1) {
                        $(obj).parents("tr").remove();
                        layer.msg('删除成功!', {icon: 1, time: 1000});
                    } else {
                        layer.msg('删除失败!', {icon: 2, time: 1000});
                    }
                }
            })


        });
    }

</script>


</html>