@charset "utf-8";

/*****列表页********/

.l_select{font:12px/28px "宋体"; color:#666;}
.l_select a{ color:#666; white-space:nowrap;}
.l_select .site{border-bottom:1px solid #ebdfd7; }
.site{height:24px; padding:19px 0 14px 0; font:12px/28px "宋体"; }
.site a{font:12px/22px "宋体"; color:#666; }
.site .current{display:inline-block; *display:inine; zoom:1; border:1px dotted; padding:0 8px; margin:0 5px;}
.l_select dl{overflow:hidden; border-bottom:1px solid #ebdfd7;}
.l_select dt{float:left; width:110px; height:100%; min-height:42px; padding-left:20px; background:#fcf7f4; vertical-align:top; line-height:40px;}
.l_select dt i{margin-right:10px; color:#ec945f; font:14px/40px "宋体";}
.l_select dd{float:left; width:970px; padding-left:25px; overflow:hidden;}
.l_select dd span{display:inline-block; *display:inline; zoom:1; width:110px; padding:7px 0;}
.l_select dd.size span{width:50px;}
.l_select dd.more{width:50px; cursor:pointer;}
.l_select dd.more span{display:block; width:50px; background:url(../images/icon.png) no-repeat 27px -40px; color:#bb9881;}
.l_select dd.more span.active{background-position:27px -115px;}

.l_content{padding-top:20px;margin-bottom:80px; }
.l_list{width:970px;}
.l_list_t{height:26px; padding:9px 10px; background:#fcf7f4; color:#666; font-size:0;}
.l_list_t span{display:inline-block; *display:inline; zoom:1; padding:0 9px 0 10px; border:1px solid #d9d9d9; font:12px/24px "宋体"; cursor:pointer;}
.l_lt_l span.border0{border-left:none; border-right:none;}
.l_lt_r span.border0{border-left:none; }
.l_list_t i{display:inline-block; *display:inline; zoom:1; width:12px; height:24px; margin-left:2px; background-image:url(../images/icon.png); background-repeat:no-repeat;}
.l_list_t i.up{background-position:left 5px;}
.l_list_t i.down{background-position:left -24px;}
.l_lt_r b{font:12px/24px "宋体"; margin:0 10px;}
.l_lt_r font{color:#f36b11;}
.l_lt_r span{padding:0 17px;}
.l_lt_r span.active{background:#fff;}

.pages{margin-top:60px;}



/******* 详情页 *********/
.s_main1{margin:10px auto 28px;} 
.imgBox{position:relative; width:420px; border-top:2px solid #f4f4f4;} 
.imgBox .smallImg{position:relative;}
.imgBox .mark {position:absolute; display:block; width:420px; height:420px; z-index:10; background:#fff; filter:alpha(opacity=0); opacity:0; cursor:move;}
.imgBox .float-box {display:none; position:absolute; width:152px; height:152px; background:#000; filter:alpha(opacity=40); opacity:0.4; cursor:move;} 
.imgBox .smallImg img {display:block; height:420px; width:420px; } 
.i_magnifier{position:absolute; z-index:10; bottom:0; right:0; width:30px; height:30px;}
.i_magnifier i{position:absolute; bottom:0; right:0;  display:block; width:30px; height:30px; background:url(../images/icon.png) no-repeat -96px -195px;}
.i_magnifier .i_shadow{background:#fff; filter:alpha(opacity=40); opacity:0.4; }
.allImg_w{ width:420px; height:66px; padding-top:10px; overflow: hidden;} 
.allImg_w span{float:left; display:inline-block; *display:inline; zoom:1; width:18px; height:39px; padding-top:25px; border:1px solid #e5e5e5; background:#f4f4f4; text-align:center; }
.allImg_w span i{display:inline-block; *display:inline; zoom:1; width:9px; height:14px; background-image:url(../images/icon.png);}
.allImg_w span.d_pre_a i{background-position:0 -225px; cursor:pointer;}
.allImg_w span.d_next_a i{background-position:0 -238px; cursor:pointer;}
.allImg_w span.d_pre i{background-position:0 -250px; cursor:default;}
.allImg_w span.d_next i{background-position:0 -263px; cursor:default;}
.allImg{position:relative; float:left; width:378px; height:66px; overflow:hidden;}
.allImg li{float:left; width:66px; margin-left:8px;}
.allImg img{display:block; width:66px; height:66px; cursor: pointer; }
.allImg li.current a{display:block; width:62px; height:62px; border:2px solid #f36b11; overflow:hidden;}
.allImg li.current img{position:relative; top:-2px; left:-2px;} 
.allImg ul{position:absolute; left:0;}
.big_box{display:none; position:absolute; z-index:10; left:430px; top:0; width:419px; height:419px; background-color:#fff; border:1px solid #cdcdcd; overflow:hidden;}
.big_box img{position:absolute; width:800px; height:800px;}  


.s_m1r{width:750px; }
.s_m1r h1{width:660px; margin-bottom:10px; font:16px/26px "Microsoft Yahei"; color:#000;}
.s_m1r_p1{margin-bottom:15px; font:14px/26px "Microsoft Yahei"; color:#666;}
.s_m1r_p1 a{text-decoration:underline; margin-left:15px;}
.s_m1r_div1{width:720px; height:110px; padding:20px 30px 0 20px; background:url(../images/s_m1r_div1.jpg) no-repeat;}
.s_m1r_div1 p{height:34px;}
.s_m1_collect{float:right; display:block; font:12px "宋体"; color:#666; cursor:pointer;}
.s_m1_collect i{float:left; display:block; width:14px; height:14px; margin-right:6px; background-image:url(../images/icon.png);}
.s_m1_collect .star_w{background-position:-106px -152px;}
.s_m1_collect .star_o{background-position:-106px -179px;}
.s_m1r div span{display:block; float:left; width:47px; margin-right:20px; text-align:justify; color:#858585; font:12px/26px "宋体"; white-space:nowrap;}
.s_m1_price{margin-bottom:6px;}
.s_m1_price strong{float:left;font:30px/1 "Microsoft Yahei"; color:#f36b11;}
.s_m1_price font{position:relative; float:left; display:inline-block; *display:inline; zoom:1; height:20px; padding:0 7px; margin:5px 0 0 20px; background:#f36b11; font:12px/20px "宋体"; color:#fff; text-align:center;}
.s_m1_price font i{position:absolute; left:-6px; bottom:0; display:block; width:0; height:0; border:3px solid transparent; border-right-color:#f36b11; border-bottom-color:#f36b11;}
.s_m1_assess a{color:#f36b11; text-decoration:underline;}
.s_m1_assess a:hover{color:#f36b11;}
.s_m1_carriage b{font:12px/26px "Arial"; color:#333;}
.s_m1r_div2{padding:20px 0 0 20px;}
.s_m1r_div2 div{overflow:hidden;}
.s_m1r .s_m1_color span{line-height:40px;}
.s_m1_color div{float:left; width:40px; height:40px; overflow:hidden; margin-right:10px;}
.s_m1_color img{display:block; border:none;}
.s_m1_color a{display:block; width:38px; height:38px; border:1px solid #afafaf; overflow:hidden; outline:none;}
.s_m1_color a.active{width:36px; height:36px; border:2px solid #f4731e;}
.s_m1_color a.active img{position:relative; top:-1px; left:-1px;}
.s_m1r_div2 a{position:relative; }
.s_m1r_div2 a.active i{position:absolute; bottom:0; right:0; display:block; width:11px; height:11px; background:url(../images/icon.png) -39px -238px;}
.s_m1r .s_m1_size{margin:17px 0 18px 0;}
.s_m1_size span{line-height:30px;} 
.s_m1_size a{float:left; display:block; height:28px; padding:0 9px;  margin-right:8px; border:1px solid #e9e9e9; outline:none;}
.s_m1_size a font{display:inline-block; *display:inline; zoom:1;font:16px/28px "Arial"; color:#b7b7b7;}
.s_m1_size a.active{height:26px; padding:0 8px; border:2px solid #f4731e; color:#f36b11; line-height:26px;}
.s_m1_size a.active font{position:relative; top:-1px;}
.amount_change{overflow:hidden; display:inline-block; *display:inline; zoom:1; height:28px; width:101px; border:1px solid #cdcdcd; font:16px/28px "Arial"; color:#b7b7b7; text-align:center;}
.amount_change b{float:left; display:block; width:28px; color:#666; font:20px/28px "Arial"; cursor:pointer;}
.amount_change b.invalid{color:#cdcdcd;}
.amount_change input{display:block; float:left; width:43px; height:18px; padding:5px 0; border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd; text-align:center; color:#b7b7b7; line-height:18px;}
.s_m1r_div3{text-align:center;}
.s_m1r_div3 a{display:inline-block; *display:inline; zoom:1; width:186px; height:46px; margin:25px 8px 0; text-align:center; font:18px/46px "Microsoft Yahei";}
.s_m1r_div3 .addGoods{background:#f36b11; color:#fff; text-align:left;}
.s_m1r_div3 .addGoods i{float:left; display:block; width:21px; height:18px; margin:14px 12px 0 32px; background:url(../images/icon.png) no-repeat -97px -2px;}
.s_m1r_div3 .buyGoods{border:1px solid #f36b11; color:#f36b11; background:#fef9f6;}


/*购买成功提示*/
.sucess_tips{display:none; position:fixed; top:50%; left:50%; width:370px; height:60px; margin:-30px 0 0 -175px;}
.sucess_tips .shadow{position:absolute; width:370px; height:60px; background:#000; opacity:0.5; filter:alpha(opacity=50);}
.sucess_tips_c{position:absolute; width:307px; height:28px; padding:16px 28px 16px 35px; font:16px/28px "Microsoft Yahei"; color:#fff; opacity:1; filter:alpha(opacity=100);}
.sucess_tips_c i{float:left; display:block; width:19px; height:19px; margin:5px 10px 0 0; background:url(../images/icon.png) no-repeat -25px -200px;}
.sucess_tips a{display:block; float:right; width:88px; height:28px; text-align:center; background:#f36b11; color:#fff;}


/**/
.s_main2{padding-top:3px; margin-bottom:30px;}
.s_m2_r{width:970px;}
.s_m2_rt{}
.tabBar{position:relative; width:968px; height:38px; border:1px solid #e5e5e5; background:#fff;}
.fixed_tabBar{position:fixed; z-index:9999; top:2px;}
.fixed_bg_t{position:absolute; top:-3px; width:100%; min-width:1200px; height:3px; background:url(../images/fix_bg_top.png) repeat-x #fff;}
.fixed_bg_b{height:3px; background:url(../images/fixed_bg.png) repeat-x #fff;}
.s_m2_r .fixed_tabBar .addGoods{margin:0;}
.s_m2_r .fixed_tabBar .addGoods a{width:170px; height:38px; font:18px/38px "Microsoft Yahei";}
.s_m2_r .fixed_tabBar li.active a{color:#f36b11;}
.s_m2_rt_h{height:38px;}
.s_m2_rt_h li{float:left; text-align:center;}
.s_m2_rt_h a{display:block; padding:0 25px; border-right:1px solid #e5e5e5; font:14px/38px "Microsoft Yahei"; color:#666; white-space:nowrap; outline:none;}
.s_m2_rt_h li.active{position:relative; height:36px; margin:-1px 0 0 -1px; border-top:3px solid /*#ff8f45*/; }
.s_m2_rt_h li.active a{position:relative; top:-2px; border-bottom:1px solid #fff; font-weight:bold;}
.s_m2_rt_h li.addGoods{float:right;}
.s_m2_rt_h .addGoods{margin:6px 7px 0 0; background:#f36b11; color:#fff; text-align:left; }
.s_m2_rt_h .addGoods a{display:block; width:102px; height:24px; padding:0; font:12px/24px "Microsoft Yahei"; color:#fff;}
.s_m2_rt_h .addGoods i{float:left; display:block; width:21px; height:18px; margin:5px 7px 0 9px; background:url(../images/icon.png) no-repeat -97px -2px;}

.s_m2_r_content{display:none;}

/****** 商品详情 ****/
.s_params{clear:both; padding:24px 0 30px 40px; border:1px solid #e5e5e5; border-top:0; font:12px/30px "Microsoft Yahei"; color:#666;}
.s_params dt{font-weight:bold;}
.s_params dd{float:left; width:33%;}
.s_details{display:block;}
.s_dl{width:790px;}
.s_d_nav{position:relative; width:117px; padding:28px 0 0 32px; padding-bottom:20000px; margin-bottom:-20000px; border:1px solid #e5e5e5; border-top:0; background:#f6f6f6;}
.s_d_nav a{position:relative; display:block; font:14px/40px "Microsoft Yahei"; color:#666;}
.s_d_nav a i{float:left; display:block; width:11px; height:11px; margin:14px 20px 0 0; background:url(../images/icon.png) no-repeat -24px -174px;}
.s_d_nav a.active{color:#f36b11;}
.s_d_nav a.active i{background-position:-25px -150px;}
.s_dr_line{display:block; position:absolute; left:37px; top:43px; height:162px; width:1px; background:#e1e1e1;}
.fixed_s_nav{position:fixed; top:42px;}
.footer_w,.copyright{position:relative;}
.copyright{*height:60px;}
.section{padding-top:18px; color:#666; font:12px/24px "宋体";}

/*********/
.s_review_sum{padding-bottom:40px;}
.s_review_sl{display:block; width:180px; height:100px; text-align:center; font:40px/100px "Arial"; color:#f36b11; }
.s_review_sm{padding-top:14px; font:12px/26px "宋体"; color:#989797;}
.s_review_sm li{height:26px; width:190px;}
.s_review_sm li span{position:relative; float:right; display:block; width:120px; height:9px; margin-top:8px; background:#f6f6f6; }
.s_review_sm li i{position:absolute; display:block; height:9px; background:#f36b11; font-size:0;}
li.good i{width:100px;}
li.common i{width:15px;}
li.bad i{width:5px;}
.s_review_evalute{display:block; width:123px; height:35px; margin:50px 30px 0 0 ; background:#f4f4f4; color:#666; border:1px solid #dcdcdc; font:14px/35px "Microsoft Yahei"; text-align:center;}
.s_review_evalute:hover{color:#fff; background:#f36b11; border-color:#f36b11;}
.s_review_tab{height:40px; font:12px/38px "宋体"; color:#666; background:#f6f6f6;}
.s_review_tab span{display:inline-block; *display:inline; zoom:1; padding:0 3px; margin:0 25px; cursor:pointer;}
.s_review_tab span.active{font-weight:bold; border-bottom:2px solid #666;}
.s_review_tabDiv{display:none;}
.s_review{padding:13px 30px 45px 30px;}
.s_review .s_review_c{overflow:hidden;}
.s_review_c{padding:30px 8px 25px; border-bottom:1px solid #e9e9e9;}
.s_review_cl{width:420px; }

.s_review_cl .review_star{margin-bottom:10px;}
.s_review_cr{padding-top:20px; text-align:right;}
.review_date{display:block; margin-top:; color:#b7b7b7;}

.review_img{overflow:hidden; padding-top:12px;}
.review_img li{position:relative; float:left;}
.review_img img{display:block; border:2px solid #e6e6e6; margin-right:12px;}
.review_img li.active img{border-color:#f36b11;}
.review_img li.active i{position:absolute; bottom:-10px; left:20px; display:block; width:0; height:0; border:5px solid transparent; border-top-color:#f36b11; }
.review_img_l{display:none; width:0; height:0; margin-top:11px; overflow:hidden;}
.review_img_l img{display:block; width:400px; height:400px; border:2px solid #e5e5e5;}
/**售后保障**/
.s_review,.s_after_sale{border:1px solid #e5e5e5; border-top:0; padding:24px 40px 40px; color:#666; font:12px/24px "宋体";}
.section h3,.s_after_sale h3{margin-top:24px; font-weight:bold;}
.section p,.s_after_sale p{text-indent:2em;}


/****购物车*******/
.order_head_info{margin-top:27px;}
.order_head_info .header_title{float:left; padding-left:20px; border-left:1px solid #e9e9e9; margin-left:25px; font:24px/49px "Microsoft Yahei"; color:#666;}
.order_pro{float:right;}
.order_pro span{float:left; display:block; width:156px; margin-top:4px; font:12px/22px "宋体"; text-align:center;}
.order_pro b{display:block; width:156px; height:23px; font:14px/23px "Microsoft Yahei"; color:#fff; background:url(../images/progress_bg.jpg) no-repeat;}
.pro_pre{color:#ffcbab;}
.pro_pre b{background-position:0 0;}
.pro_active{color:#f36b11;}
.pro_active b{background-position:0 -25px;}
.pro_next{color:#afafaf;}
.pro_next b{background-position:0 -50px;}
.order1_c dl{width:100%; margin:45px 0 40px 0; font:12px "宋体"; color:#333;}
.order1_c dl a{color:#333;}
.order1_c dt{overflow:hidden; height:41px; border:1px solid #dcdcdc; font:12px/41px "宋体"; color:#666; background:#f5f5f5;}
.order1_c dl span{display:block; float:left; text-align:center;}
.order1_c dd{overflow:hidden; padding:23px 0; border-bottom:1px solid #e5e5e5; text-align:center; font:12px/24px "宋体",Arial; color:#333;}
/*.order1_c dd.active{background:#fef9f6;}*/
.order1_c dalRight{text-align:right}
.order1_c dd.alRight .order1_checkbox{width:15px;}
.order1_c .order1_h1{padding:0 22px;}
.order1_c dt .order1_h1{*padding-top:12px;}
.order1_c .order1_h2{width:296px; padding-right:54px;}
.order1_c .order1_h3{width:195px;}
.order1_c .order1_h4{width:153px;}
.order1_c .order1_h5{width:220px;}
.order1_c .order1_h6{width:114px; padding-left:64px; text-align:left;}
.order1_c .order1_d1{padding:0 9px 0 22px;}
.order1_c .order1_d2{width:385px; text-align:left;}
.order1_c .order1_d6 a{display:block;}
.order1_c .order1_d6 a:hover{text-decoration:underline; color:#f36b11;}

.order1_c .order1_checkbox{position:relative; display:inline-block; *display:inline; zoom:1; height:15px; line-height:15px; }
.order1_c .order1_checkbox i{float:left; display:block; width:15px; height:15px; margin-right:12px; background:url(../images/icon.png) no-repeat -50px 0;}
.order1_c .order1_checkbox i.checked{background-position:-71px 0;}
.order1_c .order1_checkbox input{position:absolute; top:0; left:0; display:block; width:100%; height:100%; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.order1_balance{padding:14px 53px 14px 23px; background:#f9f9f9; font:12px/24px "宋体"; color:#666;}
.order1_bar{width:210px; white-space:nowrap;}
.order1_bar span{display:block;}
.order1_barl{margin-right:12px;}
.order1_barl em.colorB11{font-weight:bold;}
.order1_bar .price{font:18px/24px "Arial","Microsoft Yahei"; color:#f36b11; vertical-align:middle;}
.order1_b{text-align:right; margin:27px 0 30px 0;}
/*.order1_b a{display:inline-block; width:184px; height:44px; border:1px solid #f36b11; margin:0 2px 0 20px; background:#fff; color:#f36b11; text-align:center; font:18px/44px "Microsoft Yahei";}
*/
.order1_b a{display:inline-block; margin:0 2px 0 20px;}
.order1_b a.hover_btn2
/*** 订单信息页  ***/
.U_ddbt{position:relative; top:2px; width:190px; height:48px; border-bottom:3px solid #f36b11; margin-top:40px; font-size:18px; color:#f36b11; font-family:'Microsoft Yahei'; line-height:48px;}
.U_ddb{overflow:hidden; padding:0 40px 0 35px; border:1px solid #e9e9e9; margin-bottom:85px;}
.U_shdz{ padding-top:7px; border-bottom:1px solid #e9e9e9; padding-bottom:30px;}
.U_ddxx h4{font:bold 14px/1.2 "宋体"; color:#333;}
.U_ddxx h4 a:hover,.U_shdz ul li a:hover{color:#f36b11;}
.U_shdz h4{padding:18px 0;}
.U_shdz h4 a{float:right; font-size:12px; color:#666; margin-right:10px;}
.U_shdz ul li,.U_wlxx ul li{height:30px; margin-bottom:10px; cursor:pointer;}
.default_address{background:#fcf7f4;}
.U_shdz ul li span{ display:inline-block; *display:inline; zoom:1; width:124px; height:28px; border:1px solid #d9d9d9; text-align:center; line-height:28px;font-size:12px; font-family:'宋体'; color:#666; margin-right:20px; cursor:pointer;}
.U_ddb ul li .u_xz{position:relative; width:122px; height:26px; border:2px solid #f36b11; line-height:26px;}
.selected_icon{display:none;}
.u_xz .selected_icon{display:block; position:absolute; bottom:0; right:0; display:block; width:9px; height:9px; background:url(../images/icon.png) no-repeat -41px -241px;}
.U_ddb li p{ display:inline-block; *display:inline; zoom:1;font:12px '宋体'; color:#666; cursor:pointer;}
.U_shdz ul li em{ display:inline-block; *display:inline; zoom:1; cursor:pointer;font-size:12px; font-family:'宋体'; color:#fff; width:57px; height:18px; background:#b4b4b4; line-height:18px; text-align:center; margin-left:10px;}
.U_shdz ul li font{float:right; font:12px/30px "宋体"; cursor:pointer;}
.U_shdz ul li a{color:#666; margin:0 10px;}
.U_shdz ul li font i.order2_defalteSet{display:none; color:#f36b11; margin-right:10px;}
.U_fp{border-bottom:1px solid #e9e9e9; padding-bottom:15px;}
.U_fp h4{line-height:74px;}
.U_fptt{ height:28px; font-size:12px; font-family:'宋体'; color:#666;}
.U_fptt input{width:390px; padding:5px 0 5px 10px; height:16px; border:1px solid #d9d9d9;}
.U_fp p{ padding-left:70px; height:42px; line-height:42px; font-size:12px; font-family:'宋体'; color:#666; }

.U_wlxx{border-bottom:1px solid #e9e9e9; padding-bottom:15px; padding-top:8px; line-height:30px;}
.U_wlxx h4{line-height:50px;}
.U_wlxx ul li span{ display:inline-block; *display:inline; zoom:1; width:124px; height:28px; border:1px solid #d9d9d9; text-align:center; line-height:28px;font-size:12px; font-family:'宋体'; color:#666; margin-right:20px; cursor:pointer;}

.U_mjly{border-bottom:1px solid #e9e9e9; padding-bottom:50px; }
.U_mjly h4{line-height:70px;}
.U_lynr span{ float:left; font-size:12px; font-family:'宋体'; color:#333; }
.U_lynr textarea{ width:402px; height:100px; border:1px solid #d9d9d9;font-size:12px; font-family:'宋体'; color:#333;}
.U_lynr font{font-size:12px; font-family:'宋体'; color:#666;}

.U_spqd{border-bottom:1px solid #e9e9e9; padding-bottom:15px; }
.U_spqd h4{line-height:42px; margin-top:13px;}
.U_spqd th{font:12px/34px "宋体"; color:#666;}
.U_spqd td{padding:20px; border-bottom:2px solid #fff; font:16px Arial,"宋体"; text-align:center; vertical-align:top;}

.order2_yhq{padding:30px 0 20px 0; border-bottom:1px solid #e9e9e9;}
.order2_yhq h4{margin-bottom:20px;} 
.order2_yhq h4 span{margin-left:20px; font:12px "宋体"; color:#f36b11;}
.order2_yhq_tabN{overflow:hidden; border:2px solid #f6f6f6; border-bottom:0; background:#f6f6f6; font:bold 12px/34px "宋体"; color:#666; }
.order2_yhq_tabN li{float:left; display:block; padding:0 30px; cursor:pointer;}
.order2_yhq_tabN .active{color:#f36b11; background:#fff;}
.order2_yhq_tabC{display:none; overflow:hidden; min-height:137px; padding:25px 0 20px 5px;}
.order2_yhq_tabC li{float:left; margin-right:18px; }
.yhq{position:relative; width:202px; height:103px; background:repeat-x left top; font:12px "宋体";}
.yhq_a{background-image:url(../images/order3_yhqA.jpg); background-color:#ff8432;}
.yhq_t{height:58px; padding:10px 0 0 15px;}
.yhq_sum{font:24px/1 "Microsoft Yahei"; color:#fff;}
.yhq_cond{margin-left:7px; color:#fff; font:12px "宋体";}
.yhq_data{display:block; margin-left:5px; line-height:28px; color:#fff;}
.yhq .yhq_b{position:absolute; bottom:0; left:0; display:block; width:185px; padding:8px 0 12px 15px; border:1px solid #e6e6e6; border-top:0; background:#fff; color:#888;}
.yhq_i{background-image:url(../images/order3_yhq.jpg); background-color:#d1d1d1;}
.yhq_i .yhq_b{color:#d1d1d1;}
.yh1_i_tip{font:12px/34px "宋体"; color:#9c9c9c;}
.yh1_i_tip i{float:left; display:block; width:15px; height:15px; margin:9px 6px 0 0; background:url(../images/icon.png) no-repeat -50px -150px;}
.order2_yhq_ipt{display:block; width:300px; height:17px; padding:8px 0 8px 4px; border:1px solid #d9d9d9; margin-right:14px;}
.order2_yhq_submitW{display:block; border:1px solid #dcdcdc; }
.order2_yhq_submit{display:block; width:68px; height:33px; border:none; font:14px/33px "Microsoft Yahei"; color:#666; background:#f4f4f4; cursor:pointer;}
.order2_b{padding:26px 0 47px 0; text-align:right; font:12px/24px "宋体"; color:#666;}
.order2_b b{font-weight:bold;}
.totalPrice{font:24px/44px "Microsoft Yahei",Arial; color:#f36b11; vertical-align:middle;}
.order2_b .hover_btn2{float:right; margin-top:20px;}

.cancel_address,.operateSucc,.yhq_exchange,.addAddress{width:400px; height:180px; margin:-90px 0 0 -200px; border:4px solid rgba(80,80,80,0.5); border-radius:5px;}
.fixed_shadow_cm i{display:inline-block; vertical-align:middle; }
.cancel_address_m i{width:37px; height:33px; margin-right:15px; background:url(../images/icon.png) no-repeat -50px -325px;}
.yhq_exchange_m i{width:30px; height:23px; margin-right:20px; background:url(../images/icon.png) no-repeat -50px -300px;}
.fixed_shadow_cb{text-align:center;}
.fixed_iptW{display:inline-block; margin:0 6px; border:1px solid #dcdcdc; }
.fixed_ipt{display:inline-block; padding:0 20px; border:none; background:#f4f4f4; font:14px/30px "Microsoft Yahei"; color:#666; cursor:pointer;}
.addAddress{width:600px; height:380px; margin:-190px 0 0 -300px;}
.addAddress_m{margin:25px 0 15px 0;}
.addAddress table{width:100%; font:12px "宋体"; color:#666;}
.addAddress table th{width:105px; height:28px; vertical-align:top; line-height:38px;}
.addAddress .redStar{color:#ff0606;}
.addAddress th{text-align:right;}
.addAddress td{text-align:left;}
.addAddress table input{width:398px; height:12px; padding:7px 0 7px 4px; border:1px solid #d6d6d6; line-height:1;}
.addAddress textarea{resize:none; width:396px; height:66px; padding-left:4px; border:1px solid #d6d6d6; margin:5px 0; line-height:18px;}
.addAddress select{width:125px; heihgt:26px; border:1px solid #d6d6d6;}
.model_select{float:left; display:block; width:127px; height:28px; margin-right:7px;}
.model_select select{display:none;}
.model_select .select_c{position:relative; width:100%; height:100%;}
.model_select .select_cs{height:26px; line-height:26px; padding-left:4px; border:1px solid #d6d6d6; background:url(../images/icon.png) no-repeat 104px -320px;}
.model_select .select_so{display:none; position:absolute;  top:28px; left:0; width:125px; border:1px solid #d6d6d6; border-top:none; background:#fff;}
.model_select .select_so li{height:30px; padding-left:4px; line-height:30px;}
.model_select .select_so li.active,.model_select .select_so li.activeS{background:#f8f8f8;}
.model_select2{width:104px;}
.model_select2 .select_cs{background-position:81px -320px;}
.model_select2 .select_so{width:102px;}
.model_select3{width:159px;}
.model_select3 .select_cs{background-position:136px -320px;}
.model_select3 .select_so{width:157px;}
/***/

.order_step3{padding:0 0 40px 0; margin:60px auto 30px; background:#f6f6f6;}
.order3_h{padding:40px 95px 25px 65px;}
.order3_hl{width:50%;}
.order3_hl img{margin:5px 26px 0 0;}
.order3_p1{clear:right; margin-bottom:10px; font:18px/24px "Microsoft Yahei"; color:#f36b11;}
.order3_p2{font:14px/22px "Microsoft Yahei"; color:#666;}
.order3_hr{ont:12px/64px "宋体"; color:#666; white-space:no-wrap;}
.order3_hr .price{font:24px/64px "Arial"; color:#f36b11;}
.order3_c{padding:40px 0 50px 50px; border:2px solid #e9e9e9; margin:0 85px 40px 55px; background:#fff;}
.order3_c .zgright-nav-ul{clear:both; margin-bottom:37px;}
.order3_tabC{clear:both; display:none; height:330px;}
.order3_tabC ul{min-height:228px;}
.order3_tabC li{float:left; width:228px; height:58px; padding:1px; border:1px solid #e9e9e9; margin:14px 15px 0 0; font:14px/58px "宋体"; color:#666; text-align:center;}
.order3_tabC .active{padding:0; border:2px solid #f36b11;}
.moreBank{background:#fef9f6; border-color:#ecdbd1;}
.order2_pay_wx{padding-top:70px; height:260px;}
.order2_pay_wx img{float:left; margin:0 50px 0 260px;}
.order2_pay_wx p{float:left; display:inline-block; *display:inline; zoom:1; padding:18px 45px 20px 35px; border:1px solid #f36b11; margin-top:52px; font:16px/24px "Microsoft Yahei"; color:#f36b11; white-space:nowrap;}
.order2_wx_icon{float:left; display:block; width:42px; height:40px; margin-right:18px; background:url(../images/icon.png) no-repeat 0 -275px;}

.pay_info{margin:-90px 0 0 -200px; width:400px; height:180px; color:#666;}
p.pay_info_m{}
.pay_info_b{font:14px/30px "Microsoft Yahei"; text-align:center;}
.pay_finished{display:inline-block; *display:inline; zoom:1; width:104px; margin-right:18px; background:#f36b11; font:14px/30px "Microsoft Yahei"; color:#fff; cursor:pointer;}



